<!doctype html>
<html lang="eng">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UZ-Compatible" content="IE=edge">
	<meta name="viewport" conten="width=device-width, initial-scale=1">
	<title>Boostrat 101 Template</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/liva.css">

	</head>
	<body> 
		<h3>{{ question_number }}. {{ question }}</h3>
			<div class="col-md-4 column3">
			<form>
				<input type="radio" name="kod" value="svar1" checked> {{ answer1 }}<br>
				<input type="radio" name="kod" value="svar2" checked> {{ answer2 }}<br>
				<input type="radio" name="kod" value="svar3" checked> {{ answer3 }}<br>
			</div>
			<input type="submit" value="Submit">
		</form>
	<a href="{% url 'completed_page' quiz_number %}">Se ditt resultat </a>
<script src="js/bootstrap.min.js"></script>
<div class="footer">Liva Lager</div>
</body>
</html>
