<!doctype html>
<html lang="eng">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UZ-Compatible" content="IE=edge">
	<meta name="viewport" conten="width=device-width, initial-scale=1">
	<title>Boostrat 101 Template</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/liva.css">

</head>
<body> 
<!-- Här ska du lägga in formulär method = post -->
	<h3>{{ question_number }}. {{ question }}</h3>
	<img src ="{{ gif }}"/>
	<div class="col-md-4 column3">
	<form action = "{% url 'answer_page' quiz.quiz_number question_number %}" method="post"> 
			{% csrf_token %}
			<input type="radio" name="answer" value="1" checked> {{ answer1 }}<br>
			<input type="radio" name="answer" value="2"> {{ answer2 }}<br>
			<input type="radio" name="answer" value="3"> {{ answer3 }}<br>
			<button type="submit">Next</button>
	</form>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
<script src="/static/js/bootstrap.min.js"></script>
<div class="footer">Liva Lager</div>
</body>
</html>
