<!doctype html>
<html lang="eng">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UZ-Compatible" content="IE=edge">
	<meta name="viewport" conten="width=device-width, initial-scale=1">
	<title>livalol</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/liva.css">

</head>
<body> 
	<h3>{{ question_number }}. {{ question }}</h3>
	<img src ="{{ gif }}"/>
	<!-- <div class="col-md-4 column3"> -->
	<form action = "{% url 'answer_page' quiz.quiz_number question_number %}" method="post"> 
			{% csrf_token %}
	<h4>
			<label>
				<input type="radio" name="answer" class="option-input radio" value="1" checked> {{ answer1 }}
			</label>
			<br>
			<label>
				<input type="radio" name="answer" class="option-input radio" value="2"> {{ answer2 }}<br>
			</label>
			<br>
			<label>
				<input type="radio" name="answer" class="option-input radio" value="3"> {{ answer3 }}<br>
			</label>
			<br>
			<br>
			<button type="submit">Next</button>
		</div>
	</h4>
	</form>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
<script src="/static/js/bootstrap.min.js"></script>
<div class="footer">
	<a href="https://doberman.io/thoughts/100-tjejer-kodar-in-barcelona">doberman.io</a>
	<br>
	<a href="liva.lager@doberman.co">liva.lager@doberman.co</a>
</div>
<!-- Google Analytics -->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-XXXXX-Y', 'auto');
	ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</body>
</html>
