
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	background: #0065C1;
	font-size: 100%;
	font-family: 'Inconsolata', monospace;
	max-width: 600px;
	margin: 0 auto;
} 
h1 {
	color: black;
	font-size: 20vw;
} 

h2 {
	color: black;
	font-size: 10vw;
} 
h3 {
	color: black;
	font-size: 5vw;
} 
h4 {
  color: black;
  font-size: 15pt;
} 

a {
	color: black;
	font-size: 40pt;
	font: Inconsolata;
}

a:hover {
	color: #BE052D;
	font-size: 40pt;
	font: Inconsolata;
}

button {
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    background-color: #DA4F49;
    border-color: rgba(0,0,0,0.5);
    padding: 15px 32px;
    text-align: center;
    font-size: 12pt;
    box-shadow: none;
    outline: 0;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #FED053;
  text-align: left;
  font: Inconsolata;
  font-size: 7pt;
}
.footer a {
	text-align: left;
  	font: Inconsolata;
  	font-size: 7pt;
} 

/*Detta hanterar radio*/
*{font-family: "Inconsolata", serif;}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
    }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #BE052D;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #BE052D;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}







